

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;;
}

header {
    background-color: #005ea2;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

ul {
    list-style-type: disc;
}
a:hover{
     color: red;
    transform:scale(1.2);
    transition:0.2s;
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}
h1:hover{
    color:red;
    transform:scale(1.1);
    transition:0.2s;
}
img:hover{
    border:1px solid red;
    transform:scale(1.1);
    transition:0.2s;
    
}
big{
    margin-left: 50px;
    color:rgb(41, 3, 3);
    text-decoration: underline;
    
}
h2{
    margin-left: 20px;
}
h3{ 
    margin-left: 700px;
}
.gt{
    color: whitesmoke;
}
h2{
    color:brown;
    text-decoration: underline;
}
